*.log
**/*.css.d.ts
**/.cache
**/.pnpm-store
**/.swc
**/.turbo
**/node_modules
**/package-lock.json
**/pnpm-lock.yaml
.noctis/
noctis_app/dist
noctis_app/pkgs/libfluxcore
noctis_app/pkgs/libfluxcore/**
noctis_app/src/assets/emoji-sprites
noctis_app/src/locales/*/messages.js
noctis_app_proxy/assets
noctis_gateway/_build
noctis_marketing/build
noctis_static/**
node_modules
package-lock.json
pnpm-lock.yaml
